@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 112.5%; /* Augmente la taille de base de 16px à 18px pour toutes les polices */
  }
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-cormorant-garamond; /* Application de la nouvelle police ici */
  }
}

/* Styles pour Embla Carousel */
.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}